# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Joseph Yesselman
	email = jyesselm@unl.edu
[http]
	postBuffer = 157286400
[core]
	editor = cursor --wait
[color]
	ui = auto
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
