<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>created_utc</key>
	<string>2026-09-25T00:25:18.133835+00:00</string>
	<key>domains</key>
	<dict>
		<key>NSGlobalDomain</key>
		<dict>
			<key>unset</key>
			<array>
				<string>AppleInterfaceStyleSwitchesAutomatically</string>
				<string>AppleAccentColor</string>
				<string>AppleHighlightColor</string>
				<string>AppleAquaColorVariant</string>
				<string>AppleShowScrollBars</string>
				<string>NSAutomaticQuoteSubstitutionEnabled</string>
				<string>NSAutomaticDashSubstitutionEnabled</string>
				<string>NSAutomaticSpellingCorrectionEnabled</string>
				<string>NSAutomaticTextCompletionEnabled</string>
				<string>NSNavPanelExpandedStateForSaveMode</string>
				<string>NSNavPanelExpandedStateForSaveMode2</string>
				<string>PMPrintingExpandedStateForPrint</string>
				<string>PMPrintingExpandedStateForPrint2</string>
				<string>NSUserKeyEquivalents</string>
			</array>
			<key>values</key>
			<dict>
				<key>AppleActionOnDoubleClick</key>
				<string>Minimize</string>
				<key>AppleInterfaceStyle</key>
				<string>Dark</string>
				<key>AppleKeyboardUIMode</key>
				<integer>0</integer>
				<key>AppleMiniaturizeOnDoubleClick</key>
				<false/>
				<key>ApplePressAndHoldEnabled</key>
				<false/>
				<key>AppleShowAllExtensions</key>
				<true/>
				<key>InitialKeyRepeat</key>
				<integer>10</integer>
				<key>KeyRepeat</key>
				<integer>1</integer>
				<key>NSAllowContinuousSpellChecking</key>
				<false/>
				<key>NSAutomaticCapitalizationEnabled</key>
				<true/>
				<key>NSAutomaticPeriodSubstitutionEnabled</key>
				<true/>
				<key>com.apple.keyboard.fnState</key>
				<false/>
				<key>com.apple.mouse.scaling</key>
				<real>3.0</real>
				<key>com.apple.scrollwheel.scaling</key>
				<string>8.0</string>
				<key>com.apple.sound.beep.flash</key>
				<integer>0</integer>
				<key>com.apple.springing.delay</key>
				<real>0.5</real>
				<key>com.apple.springing.enabled</key>
				<true/>
				<key>com.apple.swipescrolldirection</key>
				<false/>
				<key>com.apple.trackpad.forceClick</key>
				<true/>
				<key>com.apple.trackpad.scaling</key>
				<string>8.0</string>
			</dict>
		</dict>
		<key>com.apple.AppleMultitouchMouse</key>
		<dict>
			<key>unset</key>
			<array/>
			<key>values</key>
			<dict>
				<key>MouseButtonDivision</key>
				<integer>55</integer>
				<key>MouseButtonMode</key>
				<string>OneButton</string>
				<key>MouseHorizontalScroll</key>
				<true/>
				<key>MouseMomentumScroll</key>
				<true/>
				<key>MouseOneFingerDoubleTapGesture</key>
				<integer>0</integer>
				<key>MouseTwoFingerDoubleTapGesture</key>
				<integer>3</integer>
				<key>MouseTwoFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>MouseVerticalScroll</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.AppleMultitouchTrackpad</key>
		<dict>
			<key>unset</key>
			<array/>
			<key>values</key>
			<dict>
				<key>ActuateDetents</key>
				<integer>1</integer>
				<key>Clicking</key>
				<integer>0</integer>
				<key>DragLock</key>
				<integer>0</integer>
				<key>Dragging</key>
				<integer>0</integer>
				<key>FirstClickThreshold</key>
				<integer>1</integer>
				<key>ForceSuppressed</key>
				<false/>
				<key>SecondClickThreshold</key>
				<integer>1</integer>
				<key>TrackpadCornerSecondaryClick</key>
				<integer>0</integer>
				<key>TrackpadFiveFingerPinchGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerPinchGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerVertSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadHandResting</key>
				<true/>
				<key>TrackpadHorizScroll</key>
				<integer>1</integer>
				<key>TrackpadMomentumScroll</key>
				<true/>
				<key>TrackpadPinch</key>
				<integer>1</integer>
				<key>TrackpadRightClick</key>
				<true/>
				<key>TrackpadRotate</key>
				<integer>1</integer>
				<key>TrackpadScroll</key>
				<true/>
				<key>TrackpadThreeFingerDrag</key>
				<false/>
				<key>TrackpadThreeFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadThreeFingerTapGesture</key>
				<integer>2</integer>
				<key>TrackpadThreeFingerVertSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadTwoFingerDoubleTapGesture</key>
				<integer>1</integer>
				<key>TrackpadTwoFingerFromRightEdgeSwipeGesture</key>
				<integer>3</integer>
				<key>USBMouseStopsTrackpad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.dock</key>
		<dict>
			<key>unset</key>
			<array>
				<string>autohide-delay</string>
				<string>autohide-time-modifier</string>
				<string>largesize</string>
				<string>magnification</string>
				<string>orientation</string>
				<string>show-process-indicators</string>
				<string>launchanim</string>
				<string>mru-spaces</string>
				<string>expose-group-apps</string>
				<string>expose-animation-duration</string>
				<string>static-only</string>
				<string>wvous-tl-corner</string>
				<string>wvous-tl-modifier</string>
				<string>wvous-tr-corner</string>
				<string>wvous-tr-modifier</string>
				<string>wvous-bl-corner</string>
				<string>wvous-bl-modifier</string>
				<string>wvous-br-modifier</string>
			</array>
			<key>values</key>
			<dict>
				<key>autohide</key>
				<true/>
				<key>mineffect</key>
				<string>scale</string>
				<key>minimize-to-application</key>
				<true/>
				<key>show-recents</key>
				<false/>
				<key>tilesize</key>
				<real>69.0</real>
				<key>wvous-br-corner</key>
				<integer>14</integer>
			</dict>
		</dict>
		<key>com.apple.driver.AppleBluetoothMultitouch.mouse</key>
		<dict>
			<key>unset</key>
			<array/>
			<key>values</key>
			<dict>
				<key>MouseButtonDivision</key>
				<integer>55</integer>
				<key>MouseButtonMode</key>
				<string>OneButton</string>
				<key>MouseHorizontalScroll</key>
				<true/>
				<key>MouseMomentumScroll</key>
				<true/>
				<key>MouseOneFingerDoubleTapGesture</key>
				<integer>0</integer>
				<key>MouseTwoFingerDoubleTapGesture</key>
				<integer>3</integer>
				<key>MouseTwoFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>MouseVerticalScroll</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.driver.AppleBluetoothMultitouch.trackpad</key>
		<dict>
			<key>unset</key>
			<array>
				<string>ActuateDetents</string>
				<string>FirstClickThreshold</string>
				<string>SecondClickThreshold</string>
				<string>ForceSuppressed</string>
			</array>
			<key>values</key>
			<dict>
				<key>Clicking</key>
				<integer>0</integer>
				<key>DragLock</key>
				<integer>0</integer>
				<key>Dragging</key>
				<integer>0</integer>
				<key>TrackpadCornerSecondaryClick</key>
				<integer>0</integer>
				<key>TrackpadFiveFingerPinchGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerPinchGesture</key>
				<integer>2</integer>
				<key>TrackpadFourFingerVertSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadHandResting</key>
				<true/>
				<key>TrackpadHorizScroll</key>
				<integer>1</integer>
				<key>TrackpadMomentumScroll</key>
				<true/>
				<key>TrackpadPinch</key>
				<integer>1</integer>
				<key>TrackpadRightClick</key>
				<true/>
				<key>TrackpadRotate</key>
				<integer>1</integer>
				<key>TrackpadScroll</key>
				<true/>
				<key>TrackpadThreeFingerDrag</key>
				<false/>
				<key>TrackpadThreeFingerHorizSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadThreeFingerTapGesture</key>
				<integer>2</integer>
				<key>TrackpadThreeFingerVertSwipeGesture</key>
				<integer>2</integer>
				<key>TrackpadTwoFingerDoubleTapGesture</key>
				<integer>1</integer>
				<key>TrackpadTwoFingerFromRightEdgeSwipeGesture</key>
				<integer>3</integer>
				<key>USBMouseStopsTrackpad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>com.apple.finder</key>
		<dict>
			<key>unset</key>
			<array>
				<string>AppleShowAllFiles</string>
				<string>ShowPathbar</string>
				<string>ShowStatusBar</string>
				<string>ShowTabView</string>
				<string>FXDefaultSearchScope</string>
				<string>FXEnableExtensionChangeWarning</string>
				<string>_FXShowPosixPathInTitle</string>
				<string>_FXSortFoldersFirst</string>
				<string>_FXSortFoldersFirstOnDesktop</string>
				<string>ShowMountedServersOnDesktop</string>
				<string>QuitMenuItem</string>
				<string>CreateDesktop</string>
			</array>
			<key>values</key>
			<dict>
				<key>FXPreferredViewStyle</key>
				<string>clmv</string>
				<key>NewWindowTarget</key>
				<string>PfHm</string>
				<key>ShowExternalHardDrivesOnDesktop</key>
				<false/>
				<key>ShowHardDrivesOnDesktop</key>
				<false/>
				<key>ShowRemovableMediaOnDesktop</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.screencapture</key>
		<dict>
			<key>unset</key>
			<array>
				<string>type</string>
				<string>disable-shadow</string>
				<string>include-date</string>
			</array>
			<key>values</key>
			<dict>
				<key>show-thumbnail</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.spaces</key>
		<dict>
			<key>unset</key>
			<array>
				<string>spans-displays</string>
			</array>
			<key>values</key>
			<dict/>
		</dict>
		<key>com.apple.symbolichotkeys</key>
		<dict>
			<key>unset</key>
			<array/>
			<key>values</key>
			<dict>
				<key>AppleSymbolicHotKeys</key>
				<dict>
					<key>10</key>
					<dict>
						<key>enabled</key>
						<false/>
						<key>value</key>
						<dict>
							<key>parameters</key>
							<array>
								<integer>65535</integer>
								<integer>96</integer>
								<integer>8650752</integer>
							</array>
							<key>type</key>
							<string>standard</string>
						</dict>
					</dict>
					<key>11</key>
					<dict>
						<key>enabled</key>
						<false/>
						<key>value</key>
						<dict>
							<key>parameters</key>
							<array>
								<integer>65535</integer>
								<integer>97</integer>
								<integer>8650752</integer>
							</array>
							<key>type</key>
							<string>standard</string>
						</dict>
					</dict>
					<key>15</key>
					<dict>
						<key>enabled</key>
						<false/>
					</dict>
					<key>16</key>
					<dict>
						<key>enabled</key>
						<false/>
					</dict>
					<key>162</key>
					<dict>
						<key>enabled</key>
						<false/>
						<key>value</key>
						<dict>
							<key>parameters</key>
							<array>
								<integer>65535</integer>
								<integer>96</integer>
								<integer>9961472</integer>
							</array>
							<key>type</key>
							<string>standard</string>
						</dict>
					</dict>
					<key>164</key>
					<dict>
						<key>enabled</key>
						<true/>
						<key>value</key>
						<dict>
							<key>parameters</key>
							<array>
								<integer>262144</integer>
								<integer>4294705151</integer>
							</array>
							<key>type</key>
							<string>modifier</string>
						</dict>
					</dict>
					<key>17</key>
					<dict>
						<key>enabled</key>
						<false/>
					</dict>
					<key>18</key>
					<dict>
						<key>enabled</key>
						<false/>
					</dict>
					<key>19</key>
					<dict>
						<key>enabled</key>
						<false/>
					</dict>
					<key>20</key>
					<dict>
						<key>enabled</key>
						<false/>
					</dict>
					<key>21</key>
					<dict>
						<key>enabled</key>
						<false/>
					</dict>
					<key>22</key>
					<dict>
						<key>enabled</key>
						<false/>
					</dict>
					<key>23</key>
					<dict>
						<key>enabled</key>
						<false/>
					</dict>
					<key>24</key>
					<dict>
						<key>enabled</key>
						<false/>
					</dict>
					<key>25</key>
					<dict>
						<key>enabled</key>
						<false/>
					</dict>
					<key>26</key>
					<dict>
						<key>enabled</key>
						<false/>
					</dict>
					<key>52</key>
					<dict>
						<key>enabled</key>
						<false/>
						<key>value</key>
						<dict>
							<key>parameters</key>
							<array>
								<integer>100</integer>
								<integer>2</integer>
								<integer>1572864</integer>
							</array>
							<key>type</key>
							<string>standard</string>
						</dict>
					</dict>
					<key>59</key>
					<dict>
						<key>enabled</key>
						<false/>
						<key>value</key>
						<dict>
							<key>parameters</key>
							<array>
								<integer>65535</integer>
								<integer>96</integer>
								<integer>9437184</integer>
							</array>
							<key>type</key>
							<string>standard</string>
						</dict>
					</dict>
					<key>60</key>
					<dict>
						<key>enabled</key>
						<false/>
						<key>value</key>
						<dict>
							<key>parameters</key>
							<array>
								<integer>32</integer>
								<integer>49</integer>
								<integer>262144</integer>
							</array>
							<key>type</key>
							<string>standard</string>
						</dict>
					</dict>
					<key>61</key>
					<dict>
						<key>enabled</key>
						<false/>
						<key>value</key>
						<dict>
							<key>parameters</key>
							<array>
								<integer>32</integer>
								<integer>49</integer>
								<integer>786432</integer>
							</array>
							<key>type</key>
							<string>standard</string>
						</dict>
					</dict>
					<key>64</key>
					<dict>
						<key>enabled</key>
						<false/>
						<key>value</key>
						<dict>
							<key>parameters</key>
							<array>
								<integer>32</integer>
								<integer>49</integer>
								<integer>1048576</integer>
							</array>
							<key>type</key>
							<string>standard</string>
						</dict>
					</dict>
					<key>65</key>
					<dict>
						<key>enabled</key>
						<false/>
						<key>value</key>
						<dict>
							<key>parameters</key>
							<array>
								<integer>32</integer>
								<integer>49</integer>
								<integer>1572864</integer>
							</array>
							<key>type</key>
							<string>standard</string>
						</dict>
					</dict>
					<key>7</key>
					<dict>
						<key>enabled</key>
						<false/>
						<key>value</key>
						<dict>
							<key>parameters</key>
							<array>
								<integer>65535</integer>
								<integer>120</integer>
								<integer>8650752</integer>
							</array>
							<key>type</key>
							<string>standard</string>
						</dict>
					</dict>
					<key>79</key>
					<dict>
						<key>enabled</key>
						<true/>
					</dict>
					<key>8</key>
					<dict>
						<key>enabled</key>
						<false/>
						<key>value</key>
						<dict>
							<key>parameters</key>
							<array>
								<integer>65535</integer>
								<integer>99</integer>
								<integer>8650752</integer>
							</array>
							<key>type</key>
							<string>standard</string>
						</dict>
					</dict>
					<key>80</key>
					<dict>
						<key>enabled</key>
						<true/>
					</dict>
					<key>81</key>
					<dict>
						<key>enabled</key>
						<true/>
					</dict>
					<key>82</key>
					<dict>
						<key>enabled</key>
						<true/>
					</dict>
					<key>9</key>
					<dict>
						<key>enabled</key>
						<false/>
						<key>value</key>
						<dict>
							<key>parameters</key>
							<array>
								<integer>65535</integer>
								<integer>118</integer>
								<integer>8650752</integer>
							</array>
							<key>type</key>
							<string>standard</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>format</key>
	<integer>1</integer>
	<key>macos_version</key>
	<string>26.6.2</string>
</dict>
</plist>
